body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

.page-header__title {
    display: block;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(270deg, #FFFFFF 0%, #F8F8F8 98.61%);
    padding: 16px;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    color: #7E7E82;
    margin: 0;
}

.slider-container {
    margin-left: 16px;
    margin-top: 16px;
}

.swiper-container {
    margin: 0 auto;
    /*max-width: 767.98px;*/
}

.swiper-wrapper {
    margin-bottom: 44px;
}

.page-main__slides {
    background-color: #fff !important;
    padding: 30px;
    min-height: 10px;
    max-width: 178px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    position: relative;
}

.swiper-slide__show-more {
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background-color: #ffffff;
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
}

.swiper-slide__show-more--arrow {
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
}

.swiper-slide__show-more--arrow-top {
    /*display: none;*/
    width: 9px;
    height: 0;
    top: 15px;
    left: 15px;
    border-top: 2px solid #FF3E79;
}

.swiper-slide__show-more--arrow-right {
    /*display: none;*/
    width: 0;
    height: 9px;
    top: 17px;
    left: 19px;
    border-right: 2px solid #FF3E79;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

.swiper-wrapper #lenovo {
    background: url("../css/images/lenovo.svg") no-repeat 16px 50%;
}

.swiper-wrapper #samsung {
    background: url("../css/images/samsung.svg") no-repeat 16px 50%;
}

.swiper-wrapper #apple {
    background: url("../css/images/apple.svg") no-repeat 16px 50%;

}

.swiper-wrapper #vs {
    background: url("../css/images/vs.svg") no-repeat 16px 50%;
}

.swiper-wrapper #bosch {
    background: url("../css/images/bosch.svg") no-repeat 16px 50%;
}

.swiper-wrapper #hp {
    background: url("../css/images/hp.svg") no-repeat 16px 50%;
}

.swiper-wrapper #acer {
    background: url("../css/images/acer.svg") no-repeat 16px 50%;
}

.swiper-wrapper #sony {
    background: url("../css/images/sony.svg") no-repeat 16px 50%;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    height: 12px;
    width: 12px;
    margin: 0 12px;
    transform: scale(1.5);
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.page-main__read-next {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    display: none;
    margin: 24px 32px;
    border: none;
    padding: 0;
}

.page-main__read-next::before {
    content: url("../css/images/icon.svg");
    margin-right: 17px;
}

.page-main__hide {
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    color: #1B1C21;
    display: block;
    margin: 24px 32px;
    border: none;
    padding: 0;
}

.page-main__hide::before {
    content: url("../css/images/icon.svg");
    display: inline-block;
    transform: rotate(180deg);
    margin-right: 17px;
}

@media screen and (min-width: 767.08px){
    .page-header__title {
        padding: 16px 24px;
    }
    .swiper-container {
        width: auto;
        max-width: min-content;
        max-height: min-content;
        margin: 0;
    }
    .swiper-wrapper {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        min-width: 767px;
    }
    .page-main__slides {
        max-width: 162px;
    }
    .swiper-pagination {
        display: none;
    }
    .page-main__read-next {
        display: block;
    }
}

@media screen and (min-width: 1120px) {
    .page-header__title {
        padding: 16px 32px;
    }
    .slider-container {
        margin-left: 32px;
        margin-top: 24px;
    }
    .swiper-container {
        max-width: none;
        min-width: min-content;
        width: auto;
    }
    .swiper-wrapper {
        margin-bottom: 0;
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 16px;
        min-width: 767px;
    }
    .page-main__slides {
        max-width: 178px;
    }
    .swiper-pagination {
        display: none;
    }
    .page-main__read-next {
        display: block;
    }
    .page-main__slides {
        margin: 0;
    }
}